<%#Table headers for when the table is compressed:%>
<style>
  @media
only screen and (max-width: 750px),
(min-device-width: 768px) and (max-device-width: 1024px)  {
  td:nth-of-type(1):before { content: "Name:"; }
  td:nth-of-type(2):before { content: "P:"; }
  td:nth-of-type(3):before { content: "W:"; }
  td:nth-of-type(4):before { content: "D:"; }
  td:nth-of-type(5):before { content: "L:"; }
  td:nth-of-type(6):before { content: "NR:"; }
  td:nth-of-type(7):before { content: "Pts:"; }
}
</style>
<h1><%= I18n.t('.teams.heading') %></h1>

<table>
  <thead>
    <tr>
      <th><%= I18n.t('.teams.name') %></th>
      <th><%= I18n.t('.teams.played') %></th>
      <th><%= I18n.t('.teams.won') %></th>
      <th><%= I18n.t('.teams.drawn') %></th>
      <th><%= I18n.t('.teams.lost') %></th>
      <th><%= I18n.t('.teams.no_result') %></th>
      <th><%= I18n.t('.teams.pts') %></th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @teams.each do |team| %>
      <tr>
        <td><%= team.name %></td>
        <td><%= team.played %></td>
        <td><%= team.won %></td>
        <td><%= team.drawn %></td>
        <td><%= team.lost %></td>
        <td><%= team.noresult %></td>
        <td><%= team.score %></td>
        <td><%= link_to I18n.t('show'), team %></td>
        <td><%= link_to I18n.t('edit'), edit_team_path(team) %></td>
        <td><%= link_to I18n.t('destroy'), team, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<p style="text-align:center"><%= link_to I18n.t('.teams.new'), new_team_path %></p>
