<style>
  @media
  only screen and (max-width: 750px),
  (min-device-width: 768px) and (max-device-width: 1024px)  {
  td.Team:nth-of-type(1):before { content: "Name:"; }
  td.Team:nth-of-type(2):before { content: "P:"; }
  td.Team:nth-of-type(3):before { content: "W:"; }
  td.Team:nth-of-type(4):before { content: "D:"; }
  td.Team:nth-of-type(5):before { content: "L:"; }
  td.Team:nth-of-type(6):before { content: "NR:"; }
  td.Team:nth-of-type(7):before { content: "Pts:"; }
  }
</style>
<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Played</th>
      <th>Won</th>
      <th>Drawn</th>
      <th>Lost</th>
      <th>NoResult</th>
      <th>Points</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <tr>
      <td class="Team"><%= @team.name %></td>
      <td class="Team"><%= @team.played %></td>
      <td class="Team"><%= @team.won %></td>
      <td class="Team"><%= @team.drawn %></td>
      <td class="Team"><%= @team.lost %></td>
      <td class="Team"><%= @team.noresult %></td>
      <td class="Team"><%= @team.score %></td>
    </tr>
  </tbody>
</table>
<%= render 'shared/playerList' %>

<p style="text-align:center"><%= link_to 'New Player', new_team_player_path(@team) %></p>
<%= link_to 'Edit', edit_team_path(@team) %> |
<%= link_to 'Back', teams_path %>
