<script src="validate_innings_form.js"></script>
<%= form_with(model: [@match, innings], local: true, id: 'innings_form') do |form| %>
  <% if innings.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(innings.errors.count, "error") %> prohibited this innings from being saved:</h2>

      <ul>
      <% innings.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%#We should show the match name that the innings belongs to,
       but not allow the user to change it, since this will be passed
       into this view depending on which button the user clicked in <thead>
      match show page%>
    <%= @match.matchname %>
    <%= form.hidden_field :match_id, value: @innings.match_id %>
  </div>

  <div class="field">
    <%#Likewise, this value is passed through from match show page%>
    <%= @innings.battingteam + " batted" %>
    <%= form.hidden_field :hometeambatted, value: @innings.hometeambatted %>
  </div>

  <div class="field">
    <%= form.label :byes %>
    <%= form.number_field :byes %>
  </div>

  <div class="field">
    <%= form.label :legbyes %>
    <%= form.number_field :legbyes %>
  </div>

  <div class="field">
    <%= form.label :penalties %>
    <%= form.number_field :penalties %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
