<h1>Innings</h1>

<table>
  <thead>
    <tr>
      <th>Match</th>
      <th>BattingTeam</th>
      <th>Byes</th>
      <th>Legbyes</th>
      <th>Penalties</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @innings.each do |innings| %>
      <tr>
        <td><%= innings.match.matchname %></td>
        <td><%= innings.battingteam %></td>
        <td><%= innings.byes %></td>
        <td><%= innings.legbyes %></td>
        <td><%= innings.penalties %></td>
        <td><%= link_to 'Show', match_innings_path(innings.match, innings) %></td>
        <td><%= link_to 'Edit', edit_match_innings_path(innings.match, innings) %></td>
        <td><%= link_to 'Destroy', match_innings_path(innings.match, innings), method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<%= link_to 'Back', @match %>

<br>
