<p id="notice"><%= notice %></p>

<p>
  <strong>Match:</strong>
  <%= @innings.match.matchname %>
</p>

<p>
  <strong>BattingTeam:</strong>
  <%= @innings.battingteam %>
</p>

<p>
  <strong>Byes:</strong>
  <%= @innings.byes %>
</p>

<p>
  <strong>Legbyes:</strong>
  <%= @innings.legbyes %>
</p>

<p>
  <strong>Penalties:</strong>
  <%= @innings.penalties %>
</p>

<%= link_to 'Edit', edit_match_innings_path(@match, @innings) %> |
<%= link_to 'Back', matches_path %>
