<p id="notice"><%= notice %></p>

<p>
  <strong>Match:</strong>
  <%= @innings.match %>
</p>

<p>
  <strong>Hometeambatted:</strong>
  <%= @innings.hometeambatted %>
</p>

<p>
  <strong>Byes:</strong>
  <%= @innings.byes %>
</p>

<p>
  <strong>Legbyes:</strong>
  <%= @innings.legbyes %>
</p>

<p>
  <strong>Penalties:</strong>
  <%= @innings.penalties %>
</p>

<%= link_to 'Edit', edit_innings_path(@innings) %> |
<%= link_to 'Back', innings_index_path %>
