<style>
  .navbar {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    background-color: #333;
    color: white;
    text-align: center;
  }
</style>
<div class="navbar" id="header">
  <div class="links">
    <a class="active" href="/home"><%= t('navbar.home')%></a>
    <a href="/matches"><%= I18n.t('.navbar.matches_and_fixtures')%></a>
    <a href="/table"><%= I18n.t('.navbar.league_table')%></a>
    <a href="/batters"><%= I18n.t('.navbar.batters')%></a>
    <a href="/bowlers"><%= I18n.t('.navbar.bowlers')%></a>
    <a href="/contact"><%= I18n.t('.navbar.contact_us')%></a>
  </div>
</div>
