<script src="adjust_nav_bar.js"></script>
<div class="navbar" id="header">
  <div class="links">
    <a href="/home" id="home"><%= t('navbar.home')%></a>
    <a href="/matches" id="matches"><%= I18n.t('.navbar.matches_and_fixtures')%></a>
    <a href="/table" id="table"><%= I18n.t('.navbar.league_table')%></a>
    <a href="/batters" id="batters"><%= I18n.t('.navbar.batters')%></a>
    <a href="/bowlers" id="bowlers"><%= I18n.t('.navbar.bowlers')%></a>
    <a href="/contact" id="contact"><%= I18n.t('.navbar.contact_us')%></a>
  </div>
</div>
