<style>
  @media
only screen and (max-width: 750px),
(min-device-width: 768px) and (max-device-width: 1024px)  {
  td:nth-of-type(1):before { content: "Name:"; }
  td:nth-of-type(2):before { content: "Team:"; }
  td:nth-of-type(3):before { content: "Runs:"; }
  td:nth-of-type(4):before { content: "Ave:"; }
  td:nth-of-type(5):before { content: "4s:"; }
  td:nth-of-type(6):before { content: "6s:"; }
  td:nth-of-type(7):before { content: "Highscore:"; }
  td:nth-of-type(8):before { content: "Matches:"; }
}
</style>
<h1><%= I18n.t('.navbar.batters') %></h1>

<table>
  <thead>
    <tr>
      <th><%= I18n.t('.home.stats.name') %></th>
      <th><%= I18n.t('.home.stats.team') %></th>
      <th><%= I18n.t('.home.stats.runs') %></th>
      <th><%= I18n.t('.home.stats.avg') %></th>
      <th><%= I18n.t('.home.stats.fours') %></th>
      <th><%= I18n.t('.home.stats.sixes') %></th>
      <th><%= I18n.t('.home.stats.high_score') %></th>
      <th><%= I18n.t('.home.stats.matches') %></th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @batters.each do |player| #For each player, sorted by the number of runs they have scored across all their matches %>
    <% #The total matches that the current player has batted in:
       matchesPlayed = player.matchesBatted.where("player_id" => player).count("*")[player.name.to_s]
       if (matchesPlayed != nil) then #If they've played in no matches, we need not do any more
         #The batting statistics for the current player across all matches
         batterStats = player.battingStats.where("player_id" => player)
         #The amount of total runs the player has scored over all matches
         batterRuns = batterStats.sum("runs")[player.name.to_s]
         #The average runs scored per innings (if player has not batted yet, then output "")
         if (matchesPlayed.to_f != 0) then
            batterAverage = (batterRuns.to_f / matchesPlayed.to_f).round(2)
         else
            batterAverage = ""
         end
         #Number of 4s, 6s and their high score across all inningses:
         batterFours = batterStats.sum("fours")[player.name.to_s]
         batterSixes = batterStats.sum("sixes")[player.name.to_s]
         batterHighScore = batterStats.maximum("runs")[player.name.to_s]
       end
       %>
      <% if (matchesPlayed != nil) then #Display all players who have batted in at least 1 match%>
        <tr>
          <td><%= player.name %></td>
          <td><%= player.team.name %></td>
          <td><%= player.totalRunsBatted%></td>
          <td><%= batterAverage%></td>
          <td><%= batterFours%></td>
          <td><%= batterSixes%></td>
          <td><%= batterHighScore%></td>
          <td><%= matchesPlayed %></td>
        </tr>
      <% end %>
    <% end %>
  </tbody>
</table>
