<p id="notice"><%= notice %></p>

<h1>Bowlers</h1>

<table class="center">
  <thead>
    <tr>
      <th><%= I18n.t('.home.stats.name') %></th>
      <th><%= I18n.t('.home.stats.team') %></th>
      <th><%= I18n.t('.home.stats.wkts') %></th>
      <th><%= I18n.t('.home.stats.runs') %></th>
      <th><%= I18n.t('.home.stats.avg') %></th>
      <th><%= I18n.t('.home.stats.best_bowl') %></th>
      <th><%= I18n.t('.home.stats.matches') %></th>
      <th><%= I18n.t('.home.stats.style') %></th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @bowlers.each do |player| %>
      <tr>
        <td><%= player.name %></td>
        <td><%= player.team.name %></td>
        <td><%=%></td>
        <td><%=%></td>
        <td><%=%></td>
        <td><%=%></td>
        <td><%=%></td>
        <td><%= player.bowlingstyle %></td>
        <td><%= link_to 'Show', player %></td>
        <td><%= link_to 'Edit', edit_player_path(player) %></td>
        <td><%= link_to 'Destroy', player, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
