<%# The below has to be defined here, since the table headers
are unique to the current table
.

This defines the table headers for when the screen width
is compressed below 750 pixels%>
<style>
  @media
only screen and (max-width: 750px),
(min-device-width: 768px) and (max-device-width: 1024px)  {
  td:nth-of-type(1):before { content: "Name:"; }
  td:nth-of-type(2):before { content: "Team:"; }
  td:nth-of-type(3):before { content: "Wkts:"; }
  td:nth-of-type(4):before { content: "Runs:"; }
  td:nth-of-type(5):before { content: "Avg:"; }
  td:nth-of-type(6):before { content: "Best:"; }
  td:nth-of-type(7):before { content: "Matches:"; }
  td:nth-of-type(8):before { content: "Style:"; }
}
</style>
<h1><%= I18n.t('.navbar.bowlers') %></h1>
<table>
  <thead>
    <tr>
      <th><%= I18n.t('.home.stats.name') %></th>
      <th><%= I18n.t('.home.stats.team') %></th>
      <th><%= I18n.t('.home.stats.wkts') %></th>
      <th><%= I18n.t('.home.stats.runs') %></th>
      <th><%= I18n.t('.home.stats.avg') %></th>
      <th><%= I18n.t('.home.stats.best_bowl') %></th>
      <th><%= I18n.t('.home.stats.matches') %></th>
      <th><%= I18n.t('.home.stats.style') %></th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @bowlers.each do |player| #For each bowler, sorted by the number of wickets they have taken descending (then by the number of runs they have conceded ascending).%>
    <% #The total number of matches the current player has bowled in:
       matchesPlayed = player.matchesBowled.group(:name).where("player_id" => player).count("*")[player.name.to_s]
       if (matchesPlayed != nil) then #If they've played in no matches, we need not do any more
         #The bowler stats for the current player
         bowlerStats = player.bowlingStats.where("player_id" => player)
         #The total amount of wickets the current player has taken (across all their inningses)
         bowlerWickets = player.totalWickets
         #The total runs the current player has conceded whilst bowling:
         bowlerRuns = player.totalRunsConceded
         #Bowling average is the number of runs per wicket taken (output 0 or "" accordingly if the current player has not bowled,
         #or has not taken any wickets:
         if (bowlerWickets !=0 && bowlerWickets != nil && bowlerWickets != "") then
            bowlerAverage = (bowlerRuns.to_f / bowlerWickets.to_f).round(2)
         elsif (bowlerWickets == 0) then
            bowlerAverage = 0
         else
            bowlerAverage = ""
         end
         #Works out the bowler's best performance (if they have not bowled yet, output "")
         #The best performance is worked out like so:
         # => Take the performance/s (bowling_inningses) with the most amount of wickets
         # => From these, select the one with the least amount of runs conceded.
         begin
            bowlerBestBowling = player.matchesBowled.order(wickets: :desc, runs: :asc).take
            bowlerBestWickets = bowlerBestBowling.wickets
            bowlerBestRuns = bowlerBestBowling.runs
            bestPerformance = ""
            bestPerformance += bowlerBestWickets.to_s
            bestPerformance += " for "
            bestPerformance += bowlerBestRuns.to_s
         rescue NoMethodError
            bestPerformance = ""
         end
       end
       %>
      <% if (matchesPlayed != nil) then #Display bowler if they have bowled in at least 1 match %>
        <tr>
          <td><%= player.name %></td>
          <td><%= player.team.name %></td>
          <td><%= bowlerWickets%></td>
          <td><%= bowlerRuns%></td>
          <td><%= bowlerAverage%></td>
          <td><%= bestPerformance%></td>
          <td><%= matchesPlayed%></td>
          <td><%= player.bowlingstyle %></td>
        </tr>
      <%end%>

    <% end %>
  </tbody>
</table>
