<h1>Bowling Innings</h1>

<table>
  <thead>
    <tr>
      <th>Innings</th>
      <th>Player</th>
      <th>Overs</th>
      <th>Maidens</th>
      <th>Runs</th>
      <th>Wickets</th>
      <th>No balls</th>
      <th>Wides</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @bowling_innings.each do |bowling_innings| %>
      <tr>
        <td><%= bowling_innings.Innings.innings_name %></td>
        <td><%= bowling_innings.Player.name %></td>
        <td><%= bowling_innings.overs %></td>
        <td><%= bowling_innings.maidens %></td>
        <td><%= bowling_innings.runs %></td>
        <td><%= bowling_innings.wickets %></td>
        <td><%= bowling_innings.no_balls %></td>
        <td><%= bowling_innings.wides %></td>
        <td><%= link_to 'Show', bowling_innings %></td>
        <td><%= link_to 'Edit', edit_bowling_innings_path(bowling_innings) %></td>
        <td><%= link_to 'Destroy', bowling_innings, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Bowling Innings', new_bowling_innings_path %>
