<p id="notice"><%= notice %></p>

<p>
  <strong>Innings:</strong>
  <%= @bowling_innings.Innings.innings_name %>
</p>

<p>
  <strong>Player:</strong>
  <%= @bowling_innings.Player.name %>
</p>

<p>
  <strong>Overs:</strong>
  <%= @bowling_innings.overs %>
</p>

<p>
  <strong>Maidens:</strong>
  <%= @bowling_innings.maidens %>
</p>

<p>
  <strong>Runs:</strong>
  <%= @bowling_innings.runs %>
</p>

<p>
  <strong>Wickets:</strong>
  <%= @bowling_innings.wickets %>
</p>

<p>
  <strong>No balls:</strong>
  <%= @bowling_innings.no_balls %>
</p>

<p>
  <strong>Wides:</strong>
  <%= @bowling_innings.wides %>
</p>

<%= link_to 'Edit', edit_bowling_innings_path(@bowling_innings) %> |
<%= link_to 'Back', matches_path %>
