<p>
  <%= "Dear #{t('app_title')}," %>
</p>
<p>
  <%= I18n.t('home.request_contact.message') %>
</p>
<dl>
  <dt><%= I18n.t('home.contact.name') %></dt>
  <dd>
    <%= @name %>
  </dd>
  <dt><%= I18n.t('home.contact.email') %></dt>
  <dd>
    <%= @email %>
  </dd>
  <dt><%= I18n.t('home.contact.telephone') %></dt>
  <dd>
    <%= @telephone %>
  </dd>
</dl>
<p>
  <%= @message %>
</p>
<p><%= I18n.t('home.contact.thanks') %></p>
<p>
  <%= @name %>
</p>
