<script src="validate_player_form.js"></script>
<%= form_with(model: [@team, player], local: true, id: 'player_form') do |form| %>
  <% if player.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(player.errors.count, "error") %> prohibited this player from being saved:</h2>

      <ul>
      <% player.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= @team.name %>
    <%= form.hidden_field :team_id, value: @team.id %>
  </div>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>

  <div class="field">
    <%= form.label :DOB %>
    <%= form.date_select :DOB, start_year: Time.now.year - 100, end_year: Time.now.year %>
  </div>

  <div class="field">
    <%= form.label :role %>
    <%= form.select :role, Player.roles.keys.map {|role| [role.titleize,role]} %>
  </div>

  <div class="field">
    <%= form.label :battinghand %>
    <%= form.select :battinghand, Player.battinghands.keys.map {|battinghand| [battinghand.titleize,battinghand]} %>
  </div>

  <div class="field">
    <%= form.label :bowlingstyle %>
    <%= form.select :bowlingstyle, Player.bowlingstyles.keys.map {|bowlingstyle| [bowlingstyle.titleize,bowlingstyle]} %>
  </div>

  <div class="field">
    <%= form.label :domesticteam %>
    <%= form.text_field :domesticteam %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
