<style>
  @media
only screen and (max-width: 750px),
(min-device-width: 768px) and (max-device-width: 1024px)  {
  td:nth-of-type(1):before { content: "Date:"; }
  td:nth-of-type(2):before { content: "Home:"; }
  td:nth-of-type(3):before { content: "Score:"; }
  td:nth-of-type(4):before { content: "V:"; }
  td:nth-of-type(5):before { content: "Away:"; }
  td:nth-of-type(6):before { content: "Score:"; }
  td:nth-of-type(7):before { content: "Stadium:"; }
}
</style>
<h1><%= I18n.t('.matches.heading') %></h1>

<table>
  <thead>
    <tr>
      <th><%= I18n.t('.matches.date') %></th>
      <th><%= I18n.t('.matches.home_team') %></th>
      <th><%= I18n.t('.matches.home_score') %></th>
      <th><%= I18n.t('.matches.v') %></th>
      <th><%= I18n.t('.matches.away_score') %></th>
      <th><%= I18n.t('.matches.away_team') %></th>
      <th><%= I18n.t('.matches.stadium') %></th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @matches.each do |match| %>
      <%
          begin
            #Fetches the list of batting and bowling inningses for both teams IN THE CURRENT MATCH
            @homebattinginnings = BattingInnings.setFromMatch(match).home
            @awaybattinginnings = BattingInnings.setFromMatch(match).away
            @homebowlinginnings = BowlingInnings.setFromMatch(match).home
            @awaybowlinginnings = BowlingInnings.setFromMatch(match).away
            #Used to fetch the amount of extras (byes, leg byes and penalties) that each team conceded
            @homeinnings = Innings.setFromMatch(match).home[0]
            @awayinnings = Innings.setFromMatch(match).away[0]

            homescorebattedruns = @homebattinginnings.sum("runs")
            homescorebowledextras = @homebowlinginnings.sum("wides + no_balls")
            homescoremiscextras = @homeinnings.byes + @homeinnings.legbyes + @homeinnings.penalties
            homewicketsconceded = @homebattinginnings.where.not(HowOut: 0).where.not(HowOut: 1).count
         rescue NoMethodError
         #Match not Complete yet, (has no inningses belonging to it), so we output zeros
            homescorebattedruns = 0
            homescoremiscextras = 0
            homescoremiscextras = 0
            homewicketsconceded = 0
         end %>
      <% begin
            awayscorebattedruns = @awaybattinginnings.sum("runs")
            awayscorebowledextras = @awaybowlinginnings.sum("wides + no_balls")
            awayscoremiscextras = @awayinnings.byes + @awayinnings.legbyes + @awayinnings.penalties
            awaywicketsconceded = @awaybattinginnings.where.not(howout: 0).where.not(howout: 1).count
         rescue NoMethodError
         #Match not Complete yet, (has no inningses belonging to it), so we output zeros
            awayscorebattedruns = 0
            awayscorebowledextras = 0
            awayscoremiscextras = 0
            awaywicketsconceded = 0
         end %>
      <tr>
        <td><%= match.date %></td>
        <td><%= begin match.hometeam.name rescue NoMethodError end %></td>
        <td><%= homescorebattedruns + homescorebowledextras + homescoremiscextras%><%= if (homewicketsconceded < 10) then '/' end %><%=if (homewicketsconceded < 10) then homewicketsconceded end %></td>
        <td>V</td>
        <td><%= awayscorebattedruns + awayscorebowledextras + awayscoremiscextras%><%= if (awaywicketsconceded < 10) then '/' end %><%=if (awaywicketsconceded < 10) then awaywicketsconceded end %></td>
        <td><%= match.awayteam.name %></td>
        <td><%= match.stadium %></td>
        <td><%= link_to 'Show', match %></td>
        <td><%= link_to 'Edit', edit_match_path(match), :locals => {:type => 'Edit'} %></td>
        <td><%= link_to 'Destroy', match, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<p style="text-align:center"><%= link_to 'New Match', new_match_path %></p>
