<%= render 'shared/battingInningsDetails', :locals => {:team => 'Home'} %>
<br>
<%= render 'shared/bowlingInningsDetails', :locals => {:team => 'Home'} %>
<br>
<%= render 'shared/battingInningsDetails', :locals => {:team => 'Away'} %>
<br>
<%= render 'shared/bowlingInningsDetails', :locals => {:team => 'Away'} %>
<br>
<div style="text-align:center">
  <p>
    <strong>Date:</strong>
    <%= @match.date %>
  </p>

  <p>
    <strong>Stadium:</strong>
    <%= @match.stadium %>
  </p>

  <%= link_to 'Edit Match', edit_match_path(@match), :locals => {:type => 'Edit'} %> |
  <%= link_to 'Back', matches_path %>
</div>
<div style="text-align:center">
  Batting Inningses: <%= link_to 'Click Here', batting_innings_index_path %>
  Bowling Inningses: <%= link_to 'Click Here', bowling_innings_index_path %>
</div>
