<%= render 'shared/battingInningsDetails', :locals => {:team => 'Home'} %>
<br>
<%= render 'shared/bowlingInningsDetails', :locals => {:team => 'Home'} %>
<br>
<%= render 'shared/battingInningsDetails', :locals => {:team => 'Away'} %>
<br>
<%= render 'shared/bowlingInningsDetails', :locals => {:team => 'Away'} %>
<br>
<div style="text-align:center">
  <p>
    <strong>Date:</strong>
    <%= @match.date %>
  </p>

  <p>
    <strong>Stadium:</strong>
    <%= @match.stadium %>
  </p>

  <%= link_to 'Edit Match', edit_match_path(@match) %> |
  <%= link_to 'Back', matches_path %> |
  Accidentally added a wrong innings? <%= link_to 'Click Here', match_innings_index_path(@match) %>
</div>
