<script src="validate_batting_innings_form.js"></script>
<%= form_with(model: batting_innings, local: true, id: 'batinnings_form') do |form| %>
  <% if batting_innings.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(batting_innings.errors.count, "error") %> prohibited this batting_innings from being saved:</h2>

      <ul>
      <% batting_innings.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= if (@batting_innings.Innings_id != nil) then Innings.where("id" => @batting_innings.Innings_id).take.innings_name end%>
    <%= form.hidden_field :Innings_id, value: @batting_innings.Innings_id %>
  </div>

  <div class="field">
    <%# We only show the players relevant to this innings (ie the ones in this team that is batting:)%>
    <%= form.label :Player_id %>
    <%= if !(params[:edit] == "true" || @players == nil)
        form.collection_select :Player_id, @players.order(:id), :id, :name, include_blank: false
      elsif (params[:edit] == "true")
      form.hidden_field :Player_id, value: @batting_innings.Player_id
      else
      form.collection_select :Player_id, Player.all.order(:id), :id, :name, include_blank: false
      end
      %>
  </div>

  <div class="field">
    <%= form.label :batsman_number %>
    <%= form.number_field :batsman_number %>
  </div>

  <div class="field">
    <%= form.label :runs %>
    <%= form.number_field :runs %>
  </div>

  <div class="field">
    <%= form.label :balls %>
    <%= form.number_field :balls %>
  </div>

  <div class="field">
    <%= form.label :fours %>
    <%= form.number_field :fours %>
  </div>

  <div class="field">
    <%= form.label :sixes %>
    <%= form.number_field :sixes %>
  </div>

  <div class="field">
    <%= form.label :howout %>
    <%= form.select :howout, BattingInnings.howouts.keys.map {|howout| [howout.titleize,howout]} %>
  </div>

  <div class="field">
    <%= form.label :bowler_id %>
    <%= form.collection_select :bowler_id, Player.where('bowlingstyle != 0').order(:name), :id, :name, include_blank: true %>
  </div>

  <div class="field">
    <%= form.label :fielder_id %>
    <%= form.collection_select :fielder_id, Player.order(:name), :id, :name, include_blank: true %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
