<p id="notice"><%= notice %></p>

<h1>Batting Innings</h1>

<table class="center">
  <thead>
    <tr>
      <th>Innings</th>
      <th>Player</th>
      <th>Runs</th>
      <th>Balls</th>
      <th>Fours</th>
      <th>Sixes</th>
      <th>Howout</th>
      <th>Bowler</th>
      <th>Fielder</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @batting_innings.each do |batting_innings| %>
      <tr>
        <td><%= batting_innings.Innings.innings_name %></td>
        <td><%= batting_innings.Player.name %></td>
        <td><%= batting_innings.runs %></td>
        <td><%= batting_innings.balls %></td>
        <td><%= batting_innings.fours %></td>
        <td><%= batting_innings.sixes %></td>
        <td><%= batting_innings.howout %></td>
        <td><%= if (batting_innings.bowler != nil) then batting_innings.bowler.name end %></td>
        <td><%= if (batting_innings.fielder != nil) then batting_innings.fielder.name end %></td>
        <td><%= link_to 'Show', batting_innings %></td>
        <td><%= link_to 'Edit', edit_batting_innings_path(batting_innings) %></td>
        <td><%= link_to 'Destroy', batting_innings, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Batting Innings', new_batting_innings_path %>
