<p>
  <strong>Innings:</strong>
  <%= @batting_innings.Innings.innings_name %>
</p>

<p>
  <strong>Player:</strong>
  <%= @batting_innings.Player.name %>
</p>

<p>
  <strong>Batsman Number:</strong>
  <%= @batting_innings.batsman_number %>
</p>

<p>
  <strong>Runs:</strong>
  <%= @batting_innings.runs %>
</p>

<p>
  <strong>Balls:</strong>
  <%= @batting_innings.balls %>
</p>

<p>
  <strong>Fours:</strong>
  <%= @batting_innings.fours %>
</p>

<p>
  <strong>Sixes:</strong>
  <%= @batting_innings.sixes %>
</p>

<p>
  <strong>Howout:</strong>
  <%= @batting_innings.howout %>
</p>

<p>
  <strong>Bowler:</strong>
  <%= if (@batting_innings.bowler != nil) then @batting_innings.bowler.name end %>
</p>

<p>
  <strong>Fielder:</strong>
  <%= if (@batting_innings.fielder != nil) then @batting_innings.fielder.name end %>
</p>

<%= link_to 'Edit', edit_batting_innings_path(@batting_innings) %> |
<%= link_to 'Back', matches_path %>
