<!DOCTYPE html>
<html>
  <head>
    <link rel="Title Icon" href="images/logo.ico"/>
    <title><%= I18n.t('.app_title') %></title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <script src="adjust_nav_bar.js"></script>
  </head>
  <body>
    <%= render 'shared/header' %>
    <% flash.each do |key, value| %>
    <%= content_tag :div, content_tag(:p, value), id: "#{key}" unless value.blank? %>
    <% end %>
    <%= yield %>
    <br><br><br><br>
    <%= render 'shared/footer' %>
  </body>
</html>
